@font-face {
    font-family: freight;
    src: url('./assets/fonts/Freight\ Big\ Pro\ Bold.otf');
}

.dishes{
    width: 100%;
    .text{
        font-family: freight;
        font-size: 5rem;
        margin-top: -1.6rem;
        margin-left: 3rem;
        z-index: 5;
    }
    .row1{
        width: 100%;
        position: relative;
        
    }
    .text-img{
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
    }
    .dishes--images--1{
        z-index: 1;
        position: absolute; 
        left: 10%;
    }

}

@media (max-width: 800px){
   
        .dishes--images--1{
            position: absolute ;
            left: 0 !important;
        }
        .dishes--images--2{
            position: absolute ;
            right: 0 !important;
        }
        .dishes .text{
            font-size: 3rem;
        }
}
